aiodns>=3.0,<4
aiosqlite>=0.18,<0.20
markovify>=0.9,<0.10
pydantic>=1.9,<2
uvloop>=0.16,<0.18; implementation_name == 'cpython' and (sys_platform == 'darwin' or sys_platform == 'linux')
vkbottle>=4.0,<5
